{{- if eq .chezmoi.hostname "kai-private" }}
#!/bin/zsh
cp -f "~/.config/obsidian/.obsidian.vimrc" \
       "$HOME/Library/Mobile Documents/iCloud~md~obsidian/Documents/Kai/dot_obsidian.vimrc"
{{- end }}